<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2068e521-a39d-4aba-ae27-e8f551f9c18b" Version="1.0.0.0" Publisher="CN=Clark" />
  <Properties>
    <DisplayName>On Time</DisplayName>
    <PublisherDisplayName>Clark Sell</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="On Time" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="On Time is a simple Windows 8 application striving to keep speakers “on time”. If you’re a speaker this is for you. Grab a Windows 8 machine, load in your presentation’s agenda and set it down in front of where you plan on speaking. On Time will display your overall time left, where you should be in your agenda and how much time is left until your next topic. Don’t worry, On Time has a few visual cues to make sure you’re paying attention along the way." ForegroundText="dark" BackgroundColor="#ffffff">
        <DefaultTile ShowName="noLogos" WideLogo="images\widelogo.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#ffffff" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>