.homepage section[role=main] {
    
    display: -ms-grid;
    -ms-grid-columns: 120px 1fr 120px;
    -ms-grid-rows: 20px 1fr;
}

.homepage div[role=content] {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

#agendaItems .agendaItem{
    margin-bottom: 5px;
}

.homepage .itemTitle {
    width: 400px;
}

.homepage .itemDuration {
    width: 100px;
    margin-left: 10px;
}

.homepage div[role=content] button { 
    width: 400px;
    margin-top: 15px;
}

.sessionDuration {
    margin-left: 50px;
    font-size: 150%;
    
    font-weight: 200;
    
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
